In [1]:
import pandas as pd
import numpy as np

In [2]:
df_disater = pd.read_csv('Final_Disaster_Predictions.csv')
df_deaths = pd.read_csv('Number_of_Deaths_2024.csv')
df_financal = pd.read_csv('Number_of_Financial_Damage_2024.csv')
df_injuries = pd.read_csv('Number_of_Injured_2024.csv')

In [3]:
df_2019 = pd.read_csv('data_since_2019.csv')

In [4]:
df_2019

,State Name,State Code,Year,Total Deaths,No. Injured,Total Damage ('000 US$),Total Disasters,Disaster Types
0,Alabama,AL,2019,56.0,114.0,2925000.0,15.0,"{'Severe Storm': 13, 'Tornado': 2}"
1,Arkansas,AR,2019,13.0,12.0,4500000.0,39.0,{'Flood': 39}
2,California,CA,2019,76.0,14.0,1625000.0,61.0,"{'Fire': 21, 'Earthquake': 3, 'Severe Storm': 37}"
3,Colorado,CO,2019,27.0,57.0,0.0,0.0,0
4,Connecticut,CT,2019,2.0,12.0,1200000.0,0.0,0
...,...,...,...,...,...,...,...,...
238,Oregon,OR,2023,0.0,0.0,0.0,5.0,"{'Mud/Landslide': 1, 'Fire': 4}"
239,Rhode Island,RI,2023,0.0,0.0,0.0,1.0,{'Fire': 1}
240,South Carolina,SC,2023,0.0,0.0,0.0,1.0,{'Hurricane': 1}
241,South Dakota,SD,2023,0.0,0.0,0.0,23.0,"{'Flood': 1, 'Winter Storm': 22}"
242,Vermont,VT,2023,0.0,0.0,0.0,12.0,"{'Flood': 3, 'Severe Storm': 9}"

In [5]:
# Select only the columns we need 'State Code', 'Predicted Total Disasters for 2024'
df_disater = df_disater[['State Code', 'Predicted Total Disasters for 2024']]

In [6]:
df_disater = df_disater.rename(columns={'Predicted Total Disasters for 2024': 'Total Disasters'})

In [7]:
df_deaths = df_deaths.rename(columns={'Predicted Total Deaths for 2024':'Total Deaths'})
df_financal = df_financal.rename(columns={'Predicted Total Damage (\'000 US$) for 2024':'Total Damage (\'000 US$)'})
df_injuries = df_injuries.rename(columns={'Predicted No. Injured for 2024':'No. Injured'})

In [8]:
df_all = df_disater.merge(df_deaths, on='State Code', how='outer').merge(df_financal, on='State Code', how='outer').merge(df_injuries, on='State Code', how='left')

In [9]:
# set all nagative values in df_all to 0, except for "State Code" column
df_all[df_all.columns.difference(['State Code'])] = df_all[df_all.columns.difference(['State Code'])].clip(lower=0)

In [10]:
state_name_mapping = {
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'FL': 'Florida',
    'GA': 'Georgia',
    'IA': 'Iowa',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NJ': 'New Jersey',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'PA': 'Pennsylvania',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'DE': 'Delaware',
    'KY': 'Kentucky',
    'NH': 'New Hampshire',
    'NY': 'New York',
    'OR': 'Oregon',
    'AZ': 'Arizona',
    'GU': 'Guam',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'ME': 'Maine',
    'MT': 'Montana',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'UT': 'Utah',
    'VT': 'Vermont',
    'WY': 'Wyoming',
    'AK': 'Alaska',
    'MP': 'Northern Mariana Islands',
    'PR': 'Puerto Rico',
    'VI': 'Virgin Islands',
    'DC': 'District of Columbia',
    'RI': 'Rhode Island',
    'AS': 'American Samoa'
}

In [11]:
# Add State Name column, if State Code is not in the mapping, then the State Name will be Unknown
df_all['State Name'] = df_all['State Code'].map(state_name_mapping).fillna('Unknown')

In [12]:
df_all['Year'] = 2024

In [13]:
df_2019.drop(columns=['Disaster Types'], inplace=True)

In [14]:
merged_df = pd.concat([df_2019, df_all], ignore_index=True)

In [15]:
merged_df

,State Name,State Code,Year,Total Deaths,No. Injured,Total Damage ('000 US$),Total Disasters
0,Alabama,AL,2019,56.0,114.0,2.925000e+06,15.0
1,Arkansas,AR,2019,13.0,12.0,4.500000e+06,39.0
2,California,CA,2019,76.0,14.0,1.625000e+06,61.0
3,Colorado,CO,2019,27.0,57.0,0.000000e+00,0.0
4,Connecticut,CT,2019,2.0,12.0,1.200000e+06,0.0
...,...,...,...,...,...,...,...
298,Rhode Island,RI,2024,32.0,0.0,3.648902e+06,4.0
299,Guam,GU,2024,1.0,0.0,0.000000e+00,1.0
300,District of Columbia,DC,2024,22.0,0.0,2.614846e+06,1.0
301,Unknown,Virgin Islands of the U.S.,2024,0.0,0.0,0.000000e+00,2.0
302,Unknown,PW,2024,0.0,0.0,0.000000e+00,1.0

In [16]:
merged_df.to_csv('merged.csv', index=False)