In [48]:
import pandas as pd
import numpy as np

In [49]:
# read the data if the year is greater than 2019
df_all = pd.read_csv('EMDATFEMA2.csv')

In [50]:
df_all = df_all[df_all['Year'] > 2018]

In [51]:
# Save the data to a csv file
# df_all.to_csv('data_since_2019.csv', index=False)

In [52]:
state_name_mapping = {
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'FL': 'Florida',
    'GA': 'Georgia',
    'IA': 'Iowa',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NJ': 'New Jersey',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'PA': 'Pennsylvania',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'DE': 'Delaware',
    'KY': 'Kentucky',
    'NH': 'New Hampshire',
    'NY': 'New York',
    'OR': 'Oregon',
    'AZ': 'Arizona',
    'GU': 'Guam',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'ME': 'Maine',
    'MT': 'Montana',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'UT': 'Utah',
    'VT': 'Vermont',
    'WY': 'Wyoming',
    'AK': 'Alaska',
    'MP': 'Northern Mariana Islands',
    'PR': 'Puerto Rico',
    'VI': 'Virgin Islands',
    'DC': 'District of Columbia',
    'RI': 'Rhode Island',
    'AS': 'American Samoa'
}

In [53]:
df_all['State Name'] = df_all['State Code'].map(state_name_mapping)

In [54]:
# put state name in the first column   
cols = df_all.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_all = df_all[cols]

In [55]:
df_all

,State Name,State Code,Year,Total Deaths,No. Injured,Total Damage ('000 US$),Total Disasters,Disaster Types
1485,Alabama,AL,2019,56.0,114.0,2925000.0,15.0,"{'Severe Storm': 13, 'Tornado': 2}"
1486,Arkansas,AR,2019,13.0,12.0,4500000.0,39.0,{'Flood': 39}
1487,California,CA,2019,76.0,14.0,1625000.0,61.0,"{'Fire': 21, 'Earthquake': 3, 'Severe Storm': 37}"
1488,Colorado,CO,2019,27.0,57.0,0.0,NaN,NaN
1489,Connecticut,CT,2019,2.0,12.0,1200000.0,NaN,NaN
...,...,...,...,...,...,...,...,...
2573,Oregon,OR,2023,NaN,NaN,NaN,5.0,"{'Mud/Landslide': 1, 'Fire': 4}"
2574,Rhode Island,RI,2023,NaN,NaN,NaN,1.0,{'Fire': 1}
2575,South Carolina,SC,2023,NaN,NaN,NaN,1.0,{'Hurricane': 1}
2576,South Dakota,SD,2023,NaN,NaN,NaN,23.0,"{'Flood': 1, 'Winter Storm': 22}"
2577,Vermont,VT,2023,NaN,NaN,NaN,12.0,"{'Flood': 3, 'Severe Storm': 9}"

In [56]:
df_all.fillna(0, inplace=True)
# Save the data to a csv file
df_all.to_csv('data_since_2019.csv', index=False)

In [57]:
df_all

,State Name,State Code,Year,Total Deaths,No. Injured,Total Damage ('000 US$),Total Disasters,Disaster Types
1485,Alabama,AL,2019,56.0,114.0,2925000.0,15.0,"{'Severe Storm': 13, 'Tornado': 2}"
1486,Arkansas,AR,2019,13.0,12.0,4500000.0,39.0,{'Flood': 39}
1487,California,CA,2019,76.0,14.0,1625000.0,61.0,"{'Fire': 21, 'Earthquake': 3, 'Severe Storm': 37}"
1488,Colorado,CO,2019,27.0,57.0,0.0,0.0,0
1489,Connecticut,CT,2019,2.0,12.0,1200000.0,0.0,0
...,...,...,...,...,...,...,...,...
2573,Oregon,OR,2023,0.0,0.0,0.0,5.0,"{'Mud/Landslide': 1, 'Fire': 4}"
2574,Rhode Island,RI,2023,0.0,0.0,0.0,1.0,{'Fire': 1}
2575,South Carolina,SC,2023,0.0,0.0,0.0,1.0,{'Hurricane': 1}
2576,South Dakota,SD,2023,0.0,0.0,0.0,23.0,"{'Flood': 1, 'Winter Storm': 22}"
2577,Vermont,VT,2023,0.0,0.0,0.0,12.0,"{'Flood': 3, 'Severe Storm': 9}"

In [ ]:
# df_all_2019 = df_all[df_all['Year'] == 2019]
# df_all_2020 = df_all[df_all['Year'] == 2020]
# df_all_2021 = df_all[df_all['Year'] == 2021]
# df_all_2022 = df_all[df_all['Year'] == 2022]
# df_all_2023 = df_all[df_all['Year'] == 2023]